@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
  --primary: #d946ef;
  --primary-hover: #c026d3;
  --selection: rgba(216, 70, 239, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', -apple-system, 'Helvetica Neue', Helvetica,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  padding: 1rem;
}

::selection {
  background-color: var(--selection);
}

:focus-visible {
  outline: 2px solid var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
input[type='submit'] {
  background-color: var(--primary);
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;

  transition: scale 0.2s;
}

button:hover,
input[type='submit']:hover {
  background-color: var(--primary-hover);
}

button:active,
input[type='submit']:active {
  scale: 0.95;
}

input,
input[type='text'] {
  color: #000;
  border: 1px solid var(--foreground);
  padding: 0.2rem 0.3rem;
  border-radius: 0.5rem;
}

ul {
  list-style-type: none;
}

h1.title {
  margin-bottom: 0.5rem;
}

/* CUSTOM CLASSES */

.loading-indicator-container {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    height: 3rem;
    margin: auto;
  }
}

button.delete-button {
  color: #f43f5e;
  margin-left: 0.2rem;
  background: none;
  font-weight: bold;
}

button.delete-button:hover {
  color: #fb7185;
}

button.delete-button:active {
  scale: 0.95;
}
